@font-face {
    font-family: Rodin;
    src: url("../fonts/Rodin.otf") format("opentype");
}

#background-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -10;

	
  }
  

body {
	width: 100%;
	margin:0;
	overflow-x: hidden;
	overflow-y: hidden;

	background : url('../images/background.jpg')  no-repeat center center fixed; 


	font-family: 'Rodin', sans-serif;
	color: #d8d8d8;
	font-weight: 500;

}

::selection {
	background: none;
	}
   
::-moz-selection {
	background: none;
	}

.menu {
	display: flex;
	flex-direction: row;

	position: absolute;
	top: 30%;
	left: 10%;

}

.category {
	margin: 5vh;
	width: 20vh;
}

.category img {
	height: 10vh;
}

.title{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.8vh;
	white-space: nowrap;
	cursor: pointer;
}

#clock {
	margin: 50px;
	position: absolute;
	top: 0;
	right: 0;
}


#commands {
	margin: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.8em;


}

#language-selector {

	margin: 50px;
		position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	transition: 0.3s;
}

#language-selector:hover {
	color: white;
	
	transition: 0.3s;
	text-shadow: 0px 0px 5px white;
}

.category .title span {
	display: none;
}

.projects {
	display: none;
	flex-direction: column;
	
	align-items: stretch;

}

.projects img {
	margin: 5vh;
}

.project {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.8vh;
	white-space: nowrap;
}

.proj-title {
	font-size: 2.3vh;
	animation: none; 
	color: #d8d8d8;
}

.proj-desc {
	font-size: 1.3vh;
}

@keyframes clignotement {
	0% {
	  text-shadow: 0px 0px 7px white, 0px 0px 10px black;

	}
	50% {
		text-shadow: 0px 0px 10px black;

	}
	100% {
	  text-shadow: 0px 0px 7px white, 0px 0px 10px black;

	}
  }

.project-icon {
	cursor: pointer;

  }